.app {
  padding: 0 5%;
}

@media screen and (min-width: 768px) {
  .app {
    padding: 0 15%;
  }
}

@media screen and (min-width: 992px) {
  .app {
    padding: 0 30%;
  }
}

@media screen and (min-width: 1200px) {
  .app {
    padding: 0 32%;
  }
}

.app-search {
  background-color: #F2F2F2;
  padding: 20px;
  margin-bottom: 10px;
}

.app-search-title {
  margin: 0 0 20px 0;
}
